.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
.popup-content {
    //border: 1px solid red;
    margin: auto;
    width: 28%;
    padding: 5px;
  }
.register {
    //: 5px solid pink;
    text-align: center;

    font-size: 25px;
    .register_form {
        background-color: white;
        border: 3px solid var(--primary);
        border-radius: 15px;
        box-shadow: 0px 0px 15px 20px rgba(107, 107, 107, 0.3);
        //size
        width: 100%;
        height: fit-content;
        margin: auto;
        .title {
            //Size
            font-size: 45px;
            //Color
            color: var(--primary);
            //Location
            margin: 5% 0 5% 0;
        }

        .register_info {
            border-top: 3px solid var(--primary);
            padding-top: 10%;
        }

        .register_button {
            //Location
            //Color
            color: white;
            background-color: var(--primary);
            border-color: var(--primary);
            border-radius: 20px;
            //Size
            width: 35%;
            height: 40px;
            font-size: 70%;
            cursor: pointer;
            margin: 5% 0 10% 0;

        }
    }
    //input box
    input{
        //Size
        width: 80%;
        padding: 10px;
        border: 3px solid var(--primary);
        border-radius: 7px;
        margin: 5% 0 5% 0;
        font-size: 80%;
    }

    .mess{

        padding-left: 10%;
        text-align: left;
        font-size: 15px;
        font-weight: lighter;
        font-style: italic;
    }
}

