POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=

BACKEND_PORT=
NODE_ENV=
BACKEND_URL=
DB_DIALECT=

JWT_SECRET=
JWT_EXPIRES_IN=
RESET_PASSWORD_EXPIRE_TIME=

REACT_APP_API_URL=

EMAIL=
EMAIL_PASSWORD=
EMAIL_NAME=