.container {
    .header {
        height: 50vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        .title {
            font-family: var(--font-inter);
            color: #4b2882;
            font-size: 55px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .type-list {
            display: flex;
            width: 700px;

            .type-item {
                width: calc(100% / 3);
                background-color: black;
                margin-left: 20px;
                height: 115px;
                position: relative;
                font-family: var(--font-opensans);
                color: white;
                font-size: 25px;
                font-weight: 600;
                line-height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;

                &::after {
                    content: '';
                    position: absolute;
                    height: 12%;
                    width: 100%;
                    background-color: var(--primary);
                    top: 0;
                    left: 0;
                }

                p {
                    display: block;
                    padding: 0 16%;
                }
            }
        }
    }

    .body {
        background-color: #4b2882;
        color: white;
        text-align: center;
        padding: 120px 100px;

        .title {
            font-family: var(--font-opensans);
            font-size: 45px;
            font-weight: 600;
            line-height: 60px;
            margin-bottom: 20px;
        }
        .line {
            border: 1px solid white;
            width: 60%;
            margin: 0 auto;
        }

        .description {
            font-family: var(--font-opensans);
            margin-top: 50px;
            font-size: 19px;
            font-weight: 600;
            line-height: 26px;
            text-align: justify;
        }
    }
}
