.rules-item {
    .title {
        font-family: var(--font-opensans);
        font-size: 45px;
        font-weight: 600;
        line-height: 60px;
        margin-bottom: 20px;
    }
    .line {
        border: 1px solid white;
        width: 60%;
        margin: 0 auto;
    }

    .description {
        font-family: var(--font-opensans);
        margin-top: 50px;
        font-size: 19px;
        font-weight: 600;
        line-height: 26px;
        text-align: justify;
    }
}
