.popup-content{
    width: 400px;
    height: 500px;
    .popup-login{
        border-radius: 10px;
        .modal-header{
            border-top-left-radius: 10px;
            border-top-right-radius:10px ;
            background-color: var(--primary);
            color: #fff;
            display: flex;
            flex-direction: column;
            .pp1.modal-title.h4{
                font-size: 30px;
            }
            .pp2.modal-title.h4{
                font-size: 20px;
            }
            .pp3.modal-title.h4{
                font-size: 30px;
            }
            
            
        }
        .modal-body{
            padding: 0 50px;
            padding-top: 20px;
            background-color: #fff;
            .form-login{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:center ;
                .name,.pass{
                    .form-control{
                    border: 2px solid var(--primary);
                    border-radius: 8px;
                    }
                    width: 100%;
                }
                .name, .pass, .btn-login {
                    margin-bottom: 10px;
                }
                .btn-login{
                    border-radius: 50px;
                    background-color: var(--primary);
                    border: none;
                }
            }
            
        }
        .modal-footer{
            border-bottom-left-radius:10px ;
            border-bottom-right-radius: 10px;
            background-color: #fff;
            height: 100px;
            padding: 0 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .footer__remember{
                display: flex;
                align-items: center;
            }
            .footer__remember__checkbox{
                height: 12px;
                width: 12px;
            }
            .footer__remember__label{
                font-size: 14px;
                margin: 0;
                margin-left: 5px;
            }
            .footer__new{
                a{
                    font-size: 14px;
                    color: var(--primary);
                    font-weight: 700;
                }
            }
            
        }
    }
}