/* Thiết lập cho phần header */
.header {
  height: 70px;
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 3;
  /* Đảm bảo header hiển thị trên tất cả các phần khác */
}

/* Thiết lập cho phần thân trang */
.body {
  background-color: yellow;
  padding-top: 70px;
  /* Đảm bảo phần thân trang không bị che bởi header */
  width: 100%;
  min-height: 100vh;
  /* Sử dụng viewport height cho chiều cao tối thiểu */
  background-image: url("https://s3-alpha-sig.figma.com/img/055c/964e/e871f127c57f6e13db2a9c6feaa2478b?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RusgNE1wuPgiM4931Y7QUgMicfzbeYu8I7bPCh-spgw5D9E-10xhpGB9JRgsWrSKl45Qq3OFEUpz-sBuiUZORI1mnm6D2eHmxyZ5MID7njdcgzw2IP-AibOQivdY7jqrZ~f~q3ijrLr71L32elcP9q8sPHsBdJmmRbt1aDT00qht78NH8VsGsHch4zGmN9CF5Hx6btvmgLXWyNIfQnG9BhlbuTrrrs4m6R9EUgArLSeS-ojQOYHBoiXIraOcdMztNy5gz-WTu6YZD5BeJiiq79lRMVdtB51ZYy7qcg3~nd~fHqw4ffe61gPtgRZPJzOVh13t1YaWSZmrXV89~8VlUQ__");
  background-size: cover;
  position: relative;
  /* Thiết lập position relative để phục vụ cho absolute positioning của rectangle */
}

.rectangle {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  padding: 16px;
}


.title {
  h1 {
    font-size: 64px;
    color: #4B2882;
    font-weight: 600;
  }

  h2 {
    font-size: 64px;
    color: black;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    line-height: 17.6px;
    font-weight: 400;
  }
}

.botton {
  /* Sửa từ botton thành button */
  background-color: white;
  border-radius: 50px;
  border: 1px solid #000000;
  width: 182.19px;
  /* Sửa từ 181px thành 182.19px */
  height: 40px;
  margin-top: 16px;
  /* Thêm margin-top để tạo khoảng cách với phần nội dung */
  cursor: pointer;
  transition-duration: 0.4s;
}

.botton:hover {
  background-color: #e7e7e7;
}

.button {
  transition: all 0.3s ease;
}

.footer {
  background-color: #4B2882;
  height: 70px;
  color: white;
  /* Thêm màu chữ cho footer */
  text-align: center;
  /* Căn giữa nội dung trong footer */
  line-height: 70px;
  /* Căn giữa nội dung theo chiều dọc */
}